body{
    background-color: whitesmoke;
    font-family: monospace;
}
#dropdown_btn:hover .dropdown{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background: white;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown ul{
    list-style: none;
    padding: 0;
}
.dropdown a{
    text-decoration: none;
    padding: 12px 16px;
    color: black;
    text-align:left;
    display: block;
}
section{
    padding-top:70px;
    position: relative;
}
article{
    padding: 70px 0px;
}
section#introduction{
    height: 80vh;
    background-image:url('https://images.pexels.com/photos/1144176/pexels-photo-1144176.jpeg');
    background-size: cover;
    background-position: center;
}
.navbar{
    border-bottom: 1px solid white;
    transition: 0.7s;
    font-weight: 600;
    background: linear-gradient(335deg,gray 1%, transparent ,transparent);
}
.navbar a{
    opacity: 0.7;
}
.navbar a:hover{
    opacity: 1;
}
.nav_scrolling{
    background: white;
    border-color: rgba(0,0,0,.09);
}
.nav_scrolling a{  
    color: black !important;
}
.content ul{
    list-style: none;
    line-height: 40px;
}
#progressBar{
    position: sticky;
    top: 60px;
    z-index: 99;
    float: right;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}
#progressBar>a{
    display: block;
    right: 15px;
    width: 15px;
    height: 15px;
    border:2px solid transparent;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    padding: 0;
    margin-top:20px;
}
div#progressBar a:hover,
article#list_item_1:hover ~ div#progressBar a[href="#list_item_1"]{
    opacity: 1 !important;
}
.article{
    scale: 0.85;
}
.article:hover{
    scale: 0.95;
    transition: 0.6s;
    background-color: aliceblue;
}
@media screen and (max-width: 768px){
    .article , .article:hover{
        scale: 1;
    }
    nav#navTop a{
        font-size: small;
    }
    section ul{
        font-size: smaller;
    }
    #brand{
        transform: translateX(0px) translateY(-5px) !important;
    }
}